.stitchBox {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: min-content;
    max-height: calc(100vh - 102px);
    overflow: scroll;
    text-wrap: nowrap;
    padding-right: 4rem;
    background-color: $primary-fill-color;
}

.stitches {
    display: flex;
    align-items: center;
}

.stitchBoxIcon {
    max-height: 30px;
}

.stitchBoxTitle {
    padding-left: 1rem;
    font-size: small;
    text-wrap: nowrap;
    justify-content: flex-end;
}